@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    font-size: inherit;
}

body{
    font-family: 'Jost', sans-serif;
    border: 2px solid black;
    height: 100vh;
}

.dark{
    background-color: #242424;
    color: whitesmoke;
    fill: white;
    transition: all .3s ease-in-out;
    transform-origin: center;
}


.light{
    background-color: white;
    color: #242424;
    fill: #242424;
    transition: all .5s ease-in-out;
    transform-origin: center;
}

#root{
    border: 3px solid orange;
    height: 100%;
    display: flex;
}

.app-container{
    border: 2px solid violet;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header > a{
    text-decoration: none;
    color: inherit;
}

.logo{
    width: 40px;
}

.logo-text{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bolder;
    font-size: clamp(.7rem, 3vw, 1rem);
}


.nav-lists{
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav-lists > li {
    width: 25px;
}

.icons{
    width: 100%;
    height: 100%;
    fill: inherit;
    cursor: pointer;
    transition: all .2s ease-in;
}

.icons:hover{
    fill: #F2522E;
}

main{
  flex-grow: 1;
}

.info-container{
    min-height: 260px;
    width: 90%;
    margin-inline: auto;
    /* border: 1px solid green; */
    margin-block: 2rem;
    display: flex;
    background-color: red;
}

.project-title{
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

.project-links-container{
    width: 90%;
    margin-inline: auto;
    background-color: yellow;
}

.header--greetings{
    overflow: hidden;
    display: flex;
    flex-wrap:wrap;
}

.aboutme{
    
}

.project-featured{
    text-align: left;
}

.hello-container{
    max-width: 700px;
    align-self: center;
}

.title-hello {
    font-size: clamp(3rem, 7vw, 3.5rem);
}

.project-lists{
    list-style: none;
}

.project-lists > li {
    white-space: nowrap;
}

.img-container{
    border: 2px solid orange;
}

.img-container > img {
    width: 100%;
}

.project-details-container {
    
}

.project-desc-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.project-desc-text{
    padding-block: 2rem;
}

.project-link{
    /* background-image: linear-gradient(-45deg,#F2522E, #F23E2E); */
    width: 10rem;
    /* margin-block: .5rem; */
    padding: 2px 5px;
    border-radius: 2px;
}

.project-link > a{
    display: inline-block;
    font-weight: bold;
    color: #F2522E;
}
.project-link > a:hover{
    transition: all .3s ease-out;
    transform: translateX(30%);
}



footer{
    font-size: .8rem;
}
  


.project-btn{
    font-family: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: inherit;
}

.b-red{
    border: 3px solid red;
}
.b-blue{
    border: 1px solid blue;
}
.b-green{
    border: 1px solid green;
}
.b-yellow{
    border: 1px solid yellow;
}

.b-black{
    border: 1px solid black;
}

@media (min-width: 768px){
    
    /* .app-container {
        padding: 40px;
    } */

    .project-details-container{
        display: flex;
        flex-direction: column;
    }

    main{
        
    }

    /* .hello-container{
        padding-right: 100px;
    } */

    .info-container{
        margin-block: 0;
    }

    .project-title{
        text-align: left;
    }

    .project-desc-text{
        padding: 0;
    }

    .links--external{
        display: flex;
    }
    
}

@media (min-width: 1024px){

    main{
       display: flex;
    }

    .info-container{
        flex-basis: 70%;
    }

    .project-links-container{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 100px;
    }
   
    

}