@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    font-size: inherit;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
}

.dark{
    background-color: #242424;
    color: whitesmoke;
    fill: white;
    transition: all .3s ease-in-out;
    transform-origin: center;
}


.light{
    background-color: white;
    color: #242424;
    fill: #242424;
    transition: all .5s ease-in-out;
    transform-origin: center;
}


.app-container{
    min-width: 335px;
    max-width: 1280px;
    min-height: 100vh;
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header > a{
    text-decoration: none;
    color: inherit;
}

.logo{
    width: 40px;
}

.logo-text{
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bolder;
    font-size: clamp(.7rem, 3vw, 1rem);
}


.nav-lists{
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav-lists > li {
    width: 25px;
}

.icons{
    width: 100%;
    height: 100%;
    fill: inherit;
    cursor: pointer;
    transition: all .2s ease-in;
}

.icons:hover{
    fill: orangered;
}

main{
    max-width: 400px;
}

.info-container{
    min-height: 260px;
    width: 100%;
    /* border: 1px solid green; */
    margin-block: 2rem;
}

.project-title{
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
}

.project-links-container{
    /* border: 1px solid blue; */
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.project-featured{
    text-align: left;
}



.title-hello {
    font-size: clamp(3rem, 7vw, 5rem);
}

.project-lists{
    list-style: none;
}

.project-lists > li {
    white-space: nowrap;
}

.img-container{
   /*  border: 2px solid orange; */
}

.img-container > img {
    padding: 30px;
    width: 100%;
}

.project-details-container {
    animation: fadeIn 1s;
  }

.project-desc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-desc-text{
    padding-block: 2rem;
}

.project-link{
    background-image: linear-gradient(-45deg, rgba(255, 140, 0, 0.514), rgba(255, 0, 0, 0.5));
    width: 10rem;
    margin-block: .5rem;
    padding: 2px 5px;
    border-radius: 2px;
}

.project-link > a{
    display: inline-block;
    font-weight: bold;
}
.project-link > a:hover{
    transition: all .3s ease-out;
    transform: translateX(30%);
}

footer{
    font-size: .8rem;
}
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .project-btn{
    font-family: inherit;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: inherit;
  }



@media (min-width: 768px){
    
    .app-container {
        padding: 40px;
    }

    .project-details-container{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    main{
        max-width: 80%;
    }

    .hello-container{
        padding-right: 100px;

    }

    .info-container{
        margin-block: 0;
    }

    .project-title{
        text-align: left;
    }
    
}

@media (min-width: 1024px){

    main{
        display: flex;
        max-width: 100%;
    }

    .hello-container{
        padding-left: 60px;
    }

    .project-desc-container{
        padding-right: 3rem;
    }

}