@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
}

.app-container{
    min-width: 335px;
    max-width: 1280px;
    min-height: 100vh;
    max-width: 1280px;
    border: 1px solid red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-lists{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-lists > li {
    width: 25px;
}

.icons{
    width: 100%;
    height: 100%;
    fill: #333;
}

.info-container{
    border: 1px solid green;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-container > h3 {
    padding-top: 100px;
}

.project-container{
    border: 1px solid blue;
    padding-right: 200px;
}

.spacer{
    min-width: 20px;
    min-height: 20px;
    border: 1px solid pink;
}

main > div > h1 {
    font-size: 3rem;
}

.project-title{
    font-size: 2rem;
}

.project-lists{
    list-style: none;
}

.img-container{
    border: 2px solid orange;
    flex: 1;
}

.img-container > img {
    width: 100%;
}

.info-project-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}



@media (min-width: 768px){

    .info-project-container{
        flex-direction: row;
    }

    .info-container{
        max-height: 400px;
    }

    .desc-container{
        flex: 1;
    }

    
}

@media (min-width: 1024px){

    main{
        display: flex;
    }

    .info-project-container{
        flex-direction: row;
    }


    .spacer{
       width: 200px;
    }
}